#header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background: #000;
}

.img-fit-container{
	width:100% 
}

.img-footer-titles {
    font-size: 24px;
    margin-top: 24px;
    font-weight: bold;
    text-shadow: 1px 2px 2px #000000;
}